<nav class="navbar navbar-expand bg-primary sticky-top">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-white" href="#">Items</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Inventory</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Sales</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Ordering</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Logout</a></li>
        </ul>
    </div>
</nav>
